.logo {
  width: 11.5rem;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8rem;
}

.navStuff {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navStuff nav {
  display: flex;
  list-style: none;
  font-size: 1.3rem;
  font-family: 'Archivo', sans-serif;
  gap: 2rem;
  font-weight: 500;
  font-style: italic;
}

.navButtons button {
  margin: 0 .5rem;
  border: transparent;
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  padding: .3rem .7rem;
  border-radius: .6rem;
  background: #182C61;
  background-color: transparent;
  font-style: italic;
}

.navButtons button:last-child {
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 0.3rem 0.7rem;
  border-radius: 0.6rem;
  background: #182C61;
  border: transparent;
  color: aliceblue;
  font-style: normal;
}

.menuIcon {
  font-size: 2.2rem;
}

@media screen and (max-width: 1042px) {
  @media screen and (max-width: 800px) {
    .logo {
      width: 8.5rem;
    }

    @media screen and (max-width: 600px) {
      .navStuff nav {
        flex-direction: column;
        gap: 1.3rem;
      }

      .navStuff {
        flex-direction: column;
        display: none;
      }
    }
  }
}