.profileSection {
  display: grid;
  margin: auto;
  max-width: 1280px;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
}

.coverImgDiv {
  grid-column: 1/5;
  align-self: center;
}

.userInfoDiv {
  grid-column: 1;
  position: relative;
}

.wishItemsDiv {
  grid-column: 2/5;
  margin: 1rem auto;
  width: 98%;
}

.wishBtns {
  justify-content: space-between;
  display: flex;
}

.userCover {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  border-bottom-right-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
}

.userImg {
  width: 8rem;
  border-radius: 50%;
  aspect-ratio: 2/2;
  object-fit: cover;
  position: absolute;
  top: -5rem;
  left: 3rem;
  border: 5px solid #f5f8f8;
}

.userBio {
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Archivo', sans-serif;
  margin: 1rem auto;
  width: 70%;
  line-height: 1.3;
}

.userNameDiv {
  margin: 4rem auto 1rem;
  width: 70%;
}

.userNameDiv p {
  font-size: .8rem;
  font-family: 'Archivo', sans-serif;
  margin: .3rem auto;
}

.UserSocialIcons {
  width: 1.6rem;
}

.userSocialDiv {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1rem;
  margin: 2rem auto;
}

.userSocialDiv div {
  background-color: #cfcfcf;
  padding: .3rem .5rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

.userSocialDiv div p {
  font-family: 'Archivo', sans-serif;
}

.wishItemBtn {
  font-size: 1rem;
  font-family: 'Archivo', sans-serif;
  margin-right: 1rem;
  padding: .3rem .5rem;
  border-radius: .642rem;
  border: 2px solid #d4145a;
  color: #d4145a;
  background-color: transparent;
  align-self: center;
  cursor: pointer;
}

.orderbyIcon {
  font-size: 1.5rem;
  color: #d4145a;
}

.leftBtns {
  display: flex;
  align-items: center;
}

#addWish {
  background-color: #1547d2;
  color: #f5f8f8;
  border: transparent;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: .3rem;
}