.wishNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.42rem auto .5rem;
  max-width: 1280px;
}

.appSection {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: #f0f9f9;
}

.wishlistLogo {
  width: 6.8rem;
  cursor: pointer;
}

.iconsDiv {
  display: flex;
  gap: 1.3rem;
}

.wishIcon {
  font-size: 1.6rem;
  color: rgb(97, 97, 97);
  cursor: pointer;
  gap: 2rem;
}

.userDiv {
  position: relative;
}

.wishItems {
  position: absolute;
  top: -.5rem;
  background-color: #d4145a;
  color: #f0f9f9;
  /* border: 1px solid rgb(97, 97, 97); */
  padding: .05rem .2rem;
  border-radius: .3rem;
  right: -.3rem;
  z-index: 333;
  font-size: 1rem;
}