.profileSection {
  display: grid;
  margin: auto;
  max-width: 1280px;
  align-items: start;
  grid-template-columns: repeat(4, 1fr);
}

.coverImgDiv {
  grid-column: 1/5;
  align-self: center;
}

.profileSection .userInfoContainer {
  position: sticky;
  top: 10rem;
  display: inline-block;
}

.userInfoDiv {
  grid-column: 1;
  border-radius: 1.2rem;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 20rem;
}

.wishItemsDiv {
  grid-column: 2/5;
  margin: 1rem auto;
  width: 98%;
}

.wishBtns {
  justify-content: space-between;
  display: flex;
}

.userCover {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  border-bottom-right-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
}

.userImg {
  width: 8rem;
  border-radius: 50%;
  aspect-ratio: 2/2;
  object-fit: cover;
  position: absolute;
  top: -5.42rem;
  left: 2rem;
  border: 5px solid #f5f8f8;
}

.userBio {
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Archivo', sans-serif;
  margin: 1rem auto;
  width: 70%;
  line-height: 1.3;
}

.userNameDiv {
  margin: 4rem auto 1rem;
  width: 70%;
}

.userNameDiv p {
  font-size: .8rem;
  font-family: 'Archivo', sans-serif;
  margin: .3rem auto;
}

.UserSocialIcons {
  width: 1.6rem;
}

.wishItemBtn {
  font-size: 1rem;
  font-family: 'Archivo', sans-serif;
  margin-right: 1rem;
  padding: .3rem .5rem;
  border-radius: .642rem;
  border: 2px solid #d4145a;
  color: #d4145a;
  background-color: transparent;
  align-self: center;
  cursor: pointer;
}

.orderbyIcon {
  font-size: 1.5rem;
  color: #d4145a;
}

.leftBtns,
.rightBtns,
.EditIconsDiv {
  display: flex;
  align-items: center;
}

.rightBtns {
  gap: 1.2rem;
}

.EditIconsDiv {
  width: 80%;
  flex-direction: column;
  gap: .6rem;
}

.profileEdit,
.editIconsBtn {
  font-size: 1.1rem;
  color: #1547d2;
  padding: .3rem .6rem;
  border: 2px solid #1547d2;
  border-radius: .8rem;
  font-weight: 500;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: .3rem;
  cursor: pointer;
  font-family: 'Archivo', sans-serif;
}

#addWish {
  background-color: #d4145a;
  color: #f5f8f8;
  border: transparent;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: .3rem;
  padding: .5rem .8rem;
}

.theWishesSection {
  display: flex;
  row-gap: 2rem;
  column-gap: 1rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

/* This is the update profile section */

.editInfoSection {
  display: flex;
  background-color: #fbfdfd;
  flex-direction: column;
  width: 600px;
  margin: 0rem auto;
  position: fixed;
  left: 50%;
  top: 45%;
  backdrop-filter: blur(5rem);
  transform: translate(-50%, -50%);
  padding: 2rem 3rem;
  border-radius: 1.42rem;
  border: 1px solid #cfcfcf;
  overflow-y: scroll;
  justify-content: space-around;
}

.dorpBackModel {
  background-color: #535353;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: .5;
}

body.modal-open {
  overflow: hidden;
}

body.modal-open .dorpBackModel {
  pointer-events: auto;
}

.coverImgEditDiv {
  max-width: 650px;
  border: 1px solid #1547d2;
  height: 8rem;
  border-radius: 1rem;
}

.editCoverImg {
  width: 100%;

  height: auto;
  object-fit: cover;
}

.editUserImg {
  width: 6.42rem;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 2/2;
}

.LabelsDiv {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1.6rem 0;
}

.LabelsDiv1 {
  position: relative;
}

.LabelsDiv2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.LabelsDiv div label,
.userBioInput {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  width: 100%;
}

.LabelsDiv div label input {
  height: 2rem;
  width: 100%;
  font-size: .8rem;
  padding: .3rem .5rem;
  border-radius: .5rem;
  border: 1px solid #1547d2;
}

.userBioInput textarea {
  height: 10rem;
  border-radius: 1rem;
  border: 1px solid #1547d2;
  padding: 1rem;
}

.updateProfileBtn {
  font-size: 1.42rem;
  padding: .5rem .2rem;
  border-radius: .8rem;
  border: transparent;
  background-color: #1547d2;
  color: #fbfdfd;
  margin: 2rem 0 0;
}

.editProfileClose {
  font-size: 1.42rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.profileLinks {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.42rem;
  background-color: #c2c0c0be;
  padding: .2rem .5rem;
  border-radius: .5rem;
  cursor: pointer;
}

.userSocialLinks {
  display: flex;
  gap: .8rem;
  flex-wrap: wrap;
  margin: 1rem auto;
  width: 70%;
}

.profileLinks img {
  width: 30px;
}

@media screen and (max-width: 1024px) {


  @media screen and (max-width: 800px) {


    @media screen and (max-width: 600px) {
      .userCover {
        height: 8rem;
      }

      .userImg {
        width: 5.5rem;
        top: -3.6rem;
        left: 1rem;
      }

      .userNameDiv {
        margin: 2rem 0 1rem;
        width: 75%;
      }

      .userNameDiv h3 {
        font-size: 1rem;
      }

      .profileSection {
        grid-template-columns: repeat(4, 1fr);
      }

      .wishItemsDiv {
        grid-column: 1/5;
        margin: 1rem auto;
        width: 98%;
      }

      .userInfoDiv {
        grid-column: 1/5;
      }

      .userBio {
        margin: 1rem 0;
      }

      .EditIconsDiv {
        width: 100%;
        flex-direction: row;
      }

      .profileEdit,
      .editIconsBtn {
        font-size: 1rem;
        border-radius: .5rem;
      }

      .profileLinks {
        width: 40%;
        gap: 1rem;
      }

      .profileSection .userInfoContainer {
        position: relative;
        top: 0;
        /* display: inline-block; */
        padding: 0.5rem 0.8rem;
      }

      .wishItemsDiv {
        margin: 1.3rem auto;
        /* width: 98%; */
      }

      #addWish {
        font-size: 1rem;
        margin-right: 0;
      }

      .theWishesSection {
        row-gap: 1.5rem;
        column-gap: 1rem;
        margin-top: 1.5rem;
      }

      .userSocialLinks {
        width: 100%;
      }

      .profileLinks p {
        font-size: 1rem;
      }

      .profileLinks img {
        width: 1.5rem;
      }
    }
  }
}