.login {
  margin: 8rem auto;
}

.signup {
  margin: 6.4rem auto;
}

.login,
.signup {
  width: 65%;
  display: flex;
  align-items: self-start;
  justify-content: flex-start;
  gap: 5rem;
}

.signSection {
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.signUpTitle {
  font-size: 3rem;
  font-family: 'Archivo', sans-serif;
}

.signUpCopy {
  font-size: 1.2rem;
  width: 75%;
  margin: 1rem auto;
  font-family: 'Archivo', sans-serif;
  line-height: 1.5;
  color: rgb(97, 97, 97);
}

.signUpCopy span {
  font-style: italic;
  color: #182C61;
  font-family: 'Source Serif 4', serif;
}

.FormsDiv {
  width: 75%;
  margin: auto;
}

.loginTitle h3 {
  font-size: 2.6rem;
  font-family: 'Archivo', sans-serif;
}

.loginTitle p {
  color: rgb(97, 97, 97);
  font-size: 1.2rem;
  font-family: 'Archivo', sans-serif;
  text-align: left;
  margin: .8rem 0;
}

.loginTitle p span {
  color: #1547d2;
  cursor: pointer;
  font-style: italic;
}

.loginImg {
  width: 75%;
  align-self: center;
}

.forms {
  margin: 2rem 0;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.42rem;
}

.forms input {
  height: 2.6rem;
  width: 100%;
  border-radius: .42rem;
  padding: .5rem;
  font-size: 1rem;
  border: 1.3px solid #1547d2;
}

.forms button {
  font-size: 1.6rem;
  font-family: 'Archivo', sans-serif;
  text-align: center;
  background-color: #1547d2;
  border: transparent;
  border-radius: .42rem;
  color: white;
  padding: .5rem .8rem;
  cursor: pointer;
}

.forms p {
  color: #d4145ad3;
  cursor: pointer;
  margin: .42rem 0;
}

.iconsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.42rem;
}

.loginIcons {
  background-color: white;
  font-size: 2.5rem;
  padding: .3rem;
  cursor: pointer;
  border-radius: .3rem;
}

.or {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.3rem;
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
}

.logText {
  font-family: 'Archivo', sans-serif;
  text-align: center;
  margin: 1.3rem 0;
  font-size: 1.2rem;
  color: rgb(97, 97, 97);
  line-height: 1.3;
}

.logText span {
  color: #1547d2;
  font-style: italic;
  cursor: pointer;
}

.agree {
  display: flex;
  margin: .5rem 0;
  align-items: center;
  gap: .42rem;
}

#agreeCheck {
  width: 1.2rem;
}

.agreeText span {
  font-weight: 600;
  font-family: 'Source Serif 4', serif;
  font-style: italic;
  text-decoration: underline;
}

@media screen and (max-width: 1042px) {
  @media screen and (max-width: 800px) {

    .login,
    .signup {
      width: 80%;
    }

    .loginImg {
      display: none;
    }

    @media screen and (max-width: 600px) {
      .signSection {
        display: flex;
        margin: 1rem auto;
      }

      .signUpTitle {
        font-size: 1.8rem;
      }

      .login,
      .signup {
        width: 100%;
        margin: 3rem auto 1rem;
      }

      .loginTitle h3 {
        font-size: 1.8rem;
      }

      .loginTitle p {
        font-size: 1rem;
      }

      .or {
        font-weight: 500;
      }

      .forms input {
        height: 2.42rem;
      }

      .forms {
        margin: 1rem auto 2.2rem;
      }

      .forms button {
        font-size: 1.42rem;
      }

      .signUpCopy {
        font-size: 1.1rem;
        width: 95%;
        line-height: 1.5;
      }

      .signUpTitle {
        font-size: 2rem;
      }

      .FormsDiv {
        width: 95%;
      }

      .logText {
        font-size: 1rem;
      }

      .agree {
        align-items: flex-start;
      }

      .agreeText span {
        font-weight: 500;
      }
    }
  }
}